{% extends './base_home.html' %}

{% block title %} Augur - Seleccionar alias {% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- <div class="row justify-content-center"> -->
        

        <div class="card row justify-content-center">
            
            <div class="card-header py-3">
                <label class="m-0 font-weight-bold text-primary" for="alias">Escoger el Alias</label>
            </div>
            <form action="/marcar_documento" method="POST">
            <div class="card-body">

                <select name="alias" id="alias">
                    {% for file in files %}
                    
                        <option value="{{file.0}}">{{ file.0 }} : {{ file.1 }} : {{ file.3 }}</option>
                      
                        
                        {% endfor %}
                        
                    </select>
        
            
            </div>

           
            <center><img class="" hspace="450px" vspace="32px" height="400px" width="400px" src="{{url_for('static', filename='estilos/img/logohome5.png')}}">
                  
                    <h6 class="row justify-content-center">Documento para Marcado Esteganografico: </h6>
                        <code class="row justify-content-center"> <b>{{ doc }}</b></code>
                        
                <input type="hidden" name="id_doc" value="{{ id }}"> 
              
            </div>
            <div class="card-footer  row justify-content-center  ">
                <button class="btn btn-success btn-sm" type="submit"> Marcar Documento</button>
               <!--  <a href="mestegof.html" class="btn-primary btn-sm" id="submit">Marcar Documento</a>   -->                          
            </div>
        </center> 
            </form>
        </div>

</div


{%endblock%}