{% extends './base_home.html' %}

{% block title %} Augur - Cargar {% endblock %}

{% block body %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Outer Row -->
<div class="row justify-content-center">
<div class="container-fluid">
    <div class="row justify-content-center">
      
            
                <div class="card position-relative">
                    <div class="card-header py-3">
                        <h6 class="m-12 font-weight-bold text-primary">Seleccione Documento</h6>

                        <div class="card-header-pills">
                        <!-- <div class="dropdown ">
                            <button class="btn btn-primary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Seleccionar
                            </button>
                            <div class="dropdown-menu animated--fade-in"
                                aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Doc 1</a>
                                <a class="dropdown-item" href="#">Doc 2</a>
                                <a class="dropdown-item" href="#">Doc 3</a>
                            </div>
                        </div> -->
                        <form action="/add_img" method="POST" enctype="multipart/form-data" >

                            <select name="doc" id="doc">
                                {% for file in files %}
                                
                                    <option value="{{file.0}}">{{ file.0 }} : {{ file.1 }} </option>
                                  
                                    
                                    {% endfor %}
                                    
                            </select>
                            <input type="file" name="foto" id="foto" accept=".jpg .jpeg">
                            
                            
                        


                    </div>
                    
                </div>
            <div class=" row justify-content-center">
                <img class="" hspace="300px" vspace="32px" height="400px" width="400px" src="{{url_for('static', filename='estilos/img/logohome5.png')}}">

            </div>
            
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
            <div class=" row justify-content-center">
                <!-- <a href="#" class="btn btn-group btn-secondary btn-icon-split "  data-toggle="modal" data-target="#subirimagen">
                    <span class="icon text-white-50">
                        <i class="far fa-file-image fa-fw"></i>
                    </span>
                    <span class="text">Subir Imagen</span>
                </a> -->
                <button class="btn btn-primary" type="submit">
                    Analizar
                </button>
            </form>
            </div>
</div><!-- fin container-fluid -->
</div><!-- fin Content wrapper --> 
</div>
</div>
</div><!-- /.container-fluid --> 

{% endblock %}