<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subir fotos</title>
</head>
<body>
    <h1>Cargar Foto</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    <form action="/add_img" method="POST" enctype="multipart/form-data" >
        <input type="file" name="foto" id="foto" accept=".jpg .jpeg .docx">
        <button type="submit">
            Cargar
        </button>
    </form>

</body>
</html>