<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marca Documentos</title>
</head>
<body>
        <h1>Marca de documentos</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/doc_add" method="POST" enctype="multipart/form-data" >

            
            <input type="file" name="doc" id="doc" accept=".docx">
            
            <button type="submit">
                Cargar
            </button>
        </form>
            <table>
                <th>
                    <tr>
                        <td>Id</td>
                        <td>Nombre</td>
                        <td>documento</td>
                        <td>Acciones</td>
                    </tr>
                </th>
                <tbody>
            {% for file in files %}
            
            <tr>
                <td>{{ file.0 }}</td>
                <td>{{ file.1 }} </td>  
                <td>{{ file.3 }} </td>  
                <td>
                    <a href="/select_alias/{{file.0}}">marcar</a>
                    <a href="/borrar_doc/{{file.0}}">eliminar</a>
                </td>
            </tr>
            
            
            {% endfor %}
        </tbody>
        </table> 
       
</body>
</html>