{% extends './base_home.html' %}

{% block title %} Listado Docuementos {% endblock %}

{% block body %}

<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        <form action="/doc_add" method="POST" enctype="multipart/form-data" >


            <input type="file" name="doc" id="doc" accept=".docx">
            
            
            <button class="btn btn-primary" type="submit" data-dismiss="modal">
                Cargar
            </button>
        </form>
        <!--  <a href="lista_doc.html" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#SubirDocumentoModal"><i
                 class="fas fa-upload fw text-white-50"> </i> Subir Documento</a> -->
    </div>
    <Br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Documentos Cargados</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Fecha de Subida</th>
                            <th>Acciones</th>
<!--                                                     <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th> -->
                        </tr>
                    </thead>
<!--   <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot> -->
                    <tbody>
                        {% for file in files %}

                        <tr>
                            <td>{{ file.0 }}</td>
                            <td>{{ file.1 }} </td>  
                            <td>{{ file.3 }} </td>  
                            <td>
                               
                                <a href="/select_alias/{{file.0}}" class="btn btn-secondary btn-circle btn-sm">
                                    <i class="fas fa-atom"></i>
                                </a>                                   </a>
                                <a href="/borrar_doc/{{file.0}}" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#borrardoc">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                        
                        {% endfor %}
                    </tbody>
                </table>

            </div> 
        </div>
    </div>


</div><!-- /.container-fluid --> 
{%endblock%}