<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marca Documentos</title>
</head>
<body>
        <h1>Marca de documentos</h1>
        
            <table>
                <th>
                    <tr>
                        <td>Id</td>
                        <td>Nombre</td>
                        <td>documento</td>
                        <td>Acciones</td>
                    </tr>
                </th>
                <tbody>
            {% for file in files %}
            
            <tr>
                <td>{{ file.0 }}</td>
                <td>{{ file.1 }} </td>  
                <td>{{ file.3 }} </td>  
                <td>
                    <a href="/select_alias/{{file.1}}">marcar</a>
                    <a href="/borrar_doc/{{file.1}}">eliminar</a>
                </td>
            </tr>
            
            
            {% endfor %}
        </tbody>
        </table> 
       
</body>
</html>