{% extends './base_home.html' %}

{% block title %} Augur - Listado de Alias {% endblock %}

{% block body %}

<div class="container-fluid">
    <Br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        
            <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Alias</h6>
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered border-left-primary" id="dataTable1" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-success">Crear Alias</th>
                    </thead>
<!--   <tfoot>
                        <input class="btn btn-warning btn-sm" type="reset" value="Borrar">
                    </tfoot> -->
                    <tbody>
                        <tr>
                            
                        <td>
                            <form action="/add_alias" method="POST">
                                <p class="text-primary">Nombre: <input  type="text" name="fullname" min="40"  placeholder="Nombre"></p>
                                <p class="text-primary">Apellido: <input type="text" name="apellido" min="40" placeholder="Apellido"></p>
                                <p>
                                    
                                    <input class="btn btn-success btn-sm " type="submit" value="Guardar">
                                </p>
                            </form>
                        </td>
                            <!--  <td>2011/04/25</td>
                            <td>$320,800</td> -->
                        </tr>

                    </tbody>
                </table>
                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Codigo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
<!--   <tfoot>
                        
                    </tfoot> -->
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td>
                                {{ file.0 }}
                            </td>
                            <td>
                                {{ file.1 }}
                            </td>
                            <td>
                                {{ file.2 }}
                            </td>
                            <td>
                                {{ file.3 }}
                            </td>
                            <td>
                            
                                <a href="#" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#borraralias">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div> 
        </div>
    </div>


</div>
{%endblock%}