<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marca Documentos</title>
</head>
<body>
        <h1>Marca de documentos</h1>
        <tbody>
            
            {% for file in files%}
            <tr>
                <td>{{ file.1 }}</td>
                <td>{{ file.3 }}</td>
            </tr>
            {% endfor %}

        </tbody>
</body>
</html>