{% extends './base_home.html' %}

{% block title %} Augur - Listado de Alias {% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        
    </div>
    <Br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Documento identificado exitosamente</h6>
        </div>
        <div class="card-body">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    {% if p  %}  

                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class=" text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Resultado del Analisis</div>
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Nombre del Documento</div>
                                <div class="h5 mb-0 font-weight-bold text-black-800 "><code>{{ d }}</code></div>
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Alias</div>
                                <div class="h5 mb-0 font-weight-bold text-black-800 "><code>{{ p.0.0}} {{p.0.1}} </code></div>
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Fecha</div>
                                <div class="h5 mb-0 font-weight-bold text-black-800 "><code><div id="current_date"></p>
                                    <script>
                                    date = new Date();
                                    year = date.getFullYear();
                                    month = date.getMonth() + 1;
                                    day = date.getDate();
                                    document.getElementById("current_date").innerHTML = day + "/" + month + "/" + year;
                                    </script></code></div>
                        </div>
                        <div class="col-auto">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800"></h1>
                                <a href="/" class="btn-descarga d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ><i
                                        class="fas fa-check  fw text-white-50"
                                        > </i> Aceptar</a>
                            </div>

                        </div>
                    </div>
                    {% else %}

                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class=" text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Resultado del Analisis</div>
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Documento Desconocido</div>
                                
                            
                                
                        </div>
                        <div class="col-auto">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800"></h1>
                                <a href="/home" class="btn-descarga d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ><i
                                        class="fas fa-check  fw text-white-50"
                                        > </i> Aceptar</a>
                            </div>

                        </div>
                    </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>


</div>

{%endblock%}