<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='estilos/img/logohome3.png')}}" />
    <title>Augur</title>

    <!-- Custom fonts for this template-->
    <link href="{{url_for('static', filename='estilos/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{url_for('static', filename='estilos/css/sb-admin-2.min.css')}}" rel="stylesheet">
        <!-- Custom styles for this page -->
        <link href="{{url_for('static', filename='estilos/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">

</head>

<body id="page-top">

<!-- AQUI COMIENZA CONTENIDO-->


<div id="wrapper"><!-- inicio primer div wrapper-->
    
<!-- Inicio Sidebar (menu lateral) -->
            <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Logo -->
            <hr>
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home.html">
                    <div class=" align-items-center">
                            <img class="" height="120px" width="99px" 
                            src="{{url_for('static', filename='estilos/img/augurL.png')}}">
                    </div>  
                    </a>
            <hr>
            <!-- Divisor -->
            <hr class="sidebar-divider my-1">

            <!-- Heading -->
            <div class="sidebar-heading">
                Menu
            </div>

            <!-- Menu de Estenografia Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <i class="far fa-fw fa-clone"></i>
                    <span>Esteganografia</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Funciones:</h6>
                        <a class="collapse-item" href="mesteganografico.html">Marcado Esteganografico</a>
                        <a class="collapse-item" href="aimagen.html">Analizar Imagen</a>
                        <a class="collapse-item" href="#.html">Analizar PDF</a>
                        
                    </div>
                </div>
            </li>
            <!-- Fin Menu de Estenografia -->

            <!-- Nav Item Menu Documentos- Documentos Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDocumentos"
                    aria-expanded="true" aria-controls="collapseDocumentos">
                    <i class="far fa-fw fa-file-alt"></i>
                    <span>Documentos</span>
                </a>
                <div id="collapseDocumentos" class="collapse" aria-labelledby="headingDocumentos"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Funciones</h6>
                        <a class="collapse-item" href="mesteganografico.html">Lista de Documentos</a>
                        <a class="collapse-item" href="mesteganografico.html">Subir Documentos</a>

                    </div>
                </div>
            </li>
            <!-- Fin Menu Documentos -->

            <!-- Menu de Alias Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                    <i class="far fa-fw fa-clipboard"></i>
                    <span>Alias</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Funciones:</h6>
                        <a class="collapse-item" href="mestego.html">Listado Alias</a>
                        <a class="collapse-item" href="mestego.html">Crear Alias</a>
                        <a class="collapse-item" href="mestego.html">Editar Alias</a>
                        <a class="collapse-item" href="mestego.html">Borrar Alias</a>
                        
                    </div>
                </div>
            </li>
            <!--Fin Menu de Alias -->
                <!-- Sidebar Toggler (boton retractor de menu) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </li>
            </ul> <!-- Fin Sidebar (menu lateral) -->
<!-- INICIO PAGINA -->
<div id="content-wrapper" class="d-flex flex-column">
                <div id="content"> <!-- Content -->
                        <!-- Topbar -->
                        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    
                            <!-- Sidebar Toggle (Topbar) -->
                            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                                <i class="fa fa-file"></i>
                            </button>
                                
                                <!-- Topbar Navbar -->
                                <ul class="navbar-nav ml-auto">
                                    <div class="topbar-divider d-none d-sm-block"></div>
                                    <!-- Nav Item - User Information -->
                                        <li class="nav-item dropdown no-arrow">
                                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Alvaro Flores</span>
                                                <img class="img-profile rounded-circle"
                                                    src="{{url_for('static', filename='estilos/img/undraw_profile.svg')}}">
                                            </a>
                                            <!-- Dropdown - User Information -->
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                                aria-labelledby="userDropdown">
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    Profile
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    Settings
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    Activity Log
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                        Logout
                                                    </a>
                                            </div>
                                        </li>
                        
                                </ul>
                        </nav><!-- End of Topbar -->
 <!-- Editar de aqui -->
                <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800"></h1>
                                
                            </div>
                            <Br>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Documento Marcado Exitosamente</h6>
                                </div>
                                <div class="card-body">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            {% if p  %}  

                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class=" text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Resultado del Analisis</div>
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Nombre del Documento</div>
                                                        <div class="h5 mb-0 font-weight-bold text-black-800 "><code>{{ d }}</code></div>
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Alias</div>
                                                        <div class="h5 mb-0 font-weight-bold text-black-800 "><code>{{ p.0.0}} {{p.0.1}} </code></div>
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Fecha</div>
                                                        <div class="h5 mb-0 font-weight-bold text-black-800 "><code><div id="current_date"></p>
                                                            <script>
                                                            date = new Date();
                                                            year = date.getFullYear();
                                                            month = date.getMonth() + 1;
                                                            day = date.getDate();
                                                            document.getElementById("current_date").innerHTML = day + "/" + month + "/" + year;
                                                            </script></code></div>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                                        <h1 class="h3 mb-0 text-gray-800"></h1>
                                                        <a href="/" class="btn-descarga d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ><i
                                                                class="fas fa-check  fw text-white-50"
                                                                > </i> Aceptar</a>
                                                    </div>
                
                                                </div>
                                            </div>
                                            {% else %}

                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class=" text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Resultado del Analisis</div>
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Documento Desconocido</div>
                                                        
                                                    
                                                        
                                                </div>
                                                <div class="col-auto">
                                                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                                        <h1 class="h3 mb-0 text-gray-800"></h1>
                                                        <a href="/" class="btn-descarga d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ><i
                                                                class="fas fa-check  fw text-white-50"
                                                                > </i> Aceptar</a>
                                                    </div>
                
                                                </div>
                                            </div>

                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                
                        
                        </div><!-- /.container-fluid --> 
                    </div><!-- End of Main Content --> 

                </div><!-- End Page Content no mover-->
            </div><!-- Estos divs no mover-->
        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div><!-- fin primer div wrapper-->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; AUGUR <sup>2022</sup></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
    <!-- Scroll to Top Button-->

</div>
    
<!-- AQUI COMIENZA TERMINA CONTENIDO-->
    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('static', filename='estilos/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='estilos/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static', filename='estilos/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{url_for('static', filename='estilos/js/sb-admin-2.min.js')}}"></script>

    <!-- Page level plugins -->
    <script src="{{url_for('static', filename='estilos/vendor/chart.js/Chart.min.js')}}"></script>
    <!-- Page level plugins -->
    <script src="{{url_for('static', filename='estilos/vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='estilos/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{url_for('static', filename='estilos/js/demo/chart-area-demo.js')}}"></script>
    <script src="{{url_for('static', filename='estilos/js/demo/chart-pie-demo.js')}}"></script>

</body>

</html>